* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    font-size: 1.6rem;
}
#layout1{
   
    
    height: 1200px;
    width: 100%;
    color: #FFFFFF;
    
}
.back-image{
    background: linear-gradient(rgba(17,17,17,0.5), rgba(17,17,17,0.5)) ,url(../assets/hero-6-cover-dark.png);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    z-index: 1;
}

.btn-body{
    background-color: #23A6F0;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 1.2rem 2.2rem 1.2rem 2.2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.main-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 20rem;
   margin-bottom:45rem ;
}
h5{
    margin-bottom: 60px;
    color:#23A6F0;
}
.main-content .primary-txt{
    margin-bottom: 1.5rem;
    font-size: 5.0rem;
    text-align: center;
}
.main-content .secundary-txt{
    margin-bottom: 1.5rem;
    text-align: center;
}
/*------------------------------------Cards1--------------------------------------*/
.container-cards1{
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 10rem;
    width: 100%;
    justify-content: center;
    align-content: center;   
}
.cards1 {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-top: -8rem;
}
.squad {
    width: 6rem;
    height: 6.1rem;
    border-radius: 10px;
    background-color: #23A6F0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.card1{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    color: #000000;
    width: 32.8rem;
    height: 29.2rem;
    padding: 2rem 0rem 10rem 2rem;
}
.container-cards1 i{
    color: #FFFFFF;
}
.card1 p{
    color: black;
    margin-top: 30px;
    width: 30rem;
}
.cards1 h3{
    color: black;
}
.center1{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    margin-top: 15vh;
}

#layout2{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #252B42;
    height: 1058px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container2 {
    padding-top: 20vh;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-content: center
}
.CardL2{
    display: flex;
    flex-direction: row;
}
.container-imageL2{
    margin: 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.descriptionL2{
    width: 100%;
    max-width: 50.0rem;
    color: #FFFFFF;
    margin-right: 10%;
}

.description2 p{
    font-size: 1.4rem;
}
.description2 h2{
    font-size: 4.0rem;
    margin-bottom: 2.5rem;
}
.description2 a{
    text-decoration: none;
    color: #FFFFFF;
}

.container2 {
    padding-top: 20vh;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-content: center
}
.CardL2{
    display: flex;
    flex-direction: row;
}
.container-imageL2{
    margin: 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.descriptionL2{
    width: 100%;
    max-width: 50.0rem;
    color: #FFFFFF;
    margin-right: 10%;
}

.description2 p{
    font-size: 1.4rem;
}
.description2 h2{
    font-size: 4.0rem;
    margin-bottom: 2.5rem;
}
.description2 a{
    text-decoration: none;
    color: #FFFFFF;
}

.rowL2{
    display: flex;
    flex-wrap: nowrap;
    gap: 15rem;
    justify-content: center;
}

.lineL2 {
    height: 5px;
    width: 9.4rem;
    background-color: #E74040;
    display: block;
    margin-top: 0;
    margin-bottom: 3.5rem;
    
}


.col1-l2{
    margin-top: 8.1rem;
    width: 100%;
    max-width: 40rem;
    color: #FFFFFF;
}

.col1-l2 a{
    text-decoration: none;
    color: #23A6F0;
}

.col2-l2{
    display: flex;
    width: 100%;
    max-width: 40rem;
    justify-content: center;
}
.squad2{
    width: 35rem;
    height: 33.3rem;
    left: 38px;
    background-color: rgb(242, 223, 242);
}
.man-img{
    margin-top: -120px;
    width: 100%;
}

.smallImage{
    display: flex;
    margin-right: -7vh;
    justify-content: flex-end;
    align-content: space-around;
    
}







#layout3{
    background-color: #26356D;
    display: grid;
    place-items: center center;
    padding-bottom: 194px;
    width: 100%;
    height: 123.6rem;
}

.main-content3{
    text-align: center;
    color:#FFFFFF;
    margin-bottom: 16rem;
    width: 100%;
    max-width: 30rem;
}

.secundary-txt3{
    margin-bottom: 1.0rem;
    width: 100%;
    max-width: 40rem;
}

/*Card Layout 3*/
.container-cardsL3{
    width: 100%;
    display: flex;
    margin-top: -18rem;
    justify-content: center;
    flex-wrap: wrap;
}


.card-header{
    overflow: hidden;
}

.cardL3 {
    width: 100%;
    max-width: 33rem;
    height: 100%;
    margin: 1rem;
    background-color: #FFFFFF;
    overflow: hidden;
    padding-bottom: 1.0rem;
}

.cardL3 img{
    width: 100%;
    height: 100%;
}

.card-body{
    padding-left: 2rem;
    padding-top: 2.4rem;
    padding-right: 2.5rem;
    width: 32rem;
}

.card-body p{
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.card-content1{
    display: inline-block;
    margin-bottom: 1,6rem;
}

.card-content1 span{
    margin-left: 3.0rem;
    background-color: #252B42;
    padding: 0.5rem;
    border-radius: 20px;
    color: #FFFFFF;
}

.card-content1 i{
    color: #FFCE31;
   
}

.card-body a{
    text-decoration: none;
    color: #23A6F0;
    font-weight: bold;
}

.footer-info{
    display: flex;
    justify-content:space-between ;
    font-size: 1.2rem;
    margin-top: 2.0rem;
}

.btn-card{
    margin-top: 35px;
    color: #23A6F0;
    font-size: 1.4rem;
    border: 1px solid #23A6F0;
    background-color: #FFFFFF;
    font-weight: bold;
    padding: 1.4rem 2.4rem;
    border-radius: 3.5rem;
    line-height: 2.4rem;
}

.icones {
    display: flex;
    max-width: 18rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.icon-image{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23.6rem 9.5rem 2.4rem 9.5rem;

}
    .icons-l3 {
        display: flex;
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;
        background-color: #FFFFFF;
        padding: 1.5rem;
        margin-right: 1rem;
        align-items: center;
        justify-content: center;
    }
#layout4{
    height: 131rem;
    display: grid;
    background-color: #252B42;
    width: 100%;
}



.main-content4{
    color:#FFFFFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    align-items: center;
    justify-content: center;
    width: 691;
}

.primary-txt4 {
    text-align: center;
    font-size: 4.0rem;
}

.secundary-txt4{
    text-align: center;
    font-size: 1.4rem;
    width: 469px;
}

/*Cards 4*/

.container-cardsL4{
    width: 100%;
    flex-direction: column;
    display: flex;
    padding: 0 7.5%;
    gap: 1rem;
    margin-top: -18rem;
    justify-content: center;
    flex-wrap: wrap;
}


 .cardL4 {
    width: 50rem;
    height: 44rem;
    flex: 0 0 50%;
    margin: 10px;
    background-color: #FFFFFF;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    }

.header-img{
    position: absolute;
    margin: 25px 186.5px 285px 186.5px;
}
.img-cl4{
    width: 128px;
    height: 128px;
    border-radius: 62px;
    margin-bottom: 30px;
}
.card-content4{
    margin: 153px 25px 0px 25px;
}

.card-body4{
    text-align: center;
    width: 100%;
    max-width: 12rem;
    margin-top: 3.0rem;
    justify-content: center;
}

.stars{
    margin-top: 2rem;
    color: #FFCE31;
    font-size: 1.6rem;
}

@media screen and (max-height: 1100px) {}


#layout5{
    height: 100vh;
    width: 100%;
}

.main-content5{
    display: flex;
    flex-direction: column;
    margin-top: 170px;
    margin-bottom: 80px;
    align-items: center;
    justify-content: center;
}

.forms{
    width: 80%;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20.0rem;
}

.inpt-form{
    width: 100%;
    max-width: 688px;
    height: 58px;
    padding: 20px;
    border: 1px solid #dddd;
    border-radius: 5px 0px 0px 5px;

}

.btn-form{
    width: 100%;
    max-width: 117px;
    height: 58px;
    color: #FFFFFF;
    background-color: #23A6F0;
    border: 1px solid #dddd;
    border-radius: 0px 5px 5px 0px;
}

#footer{
    height: 80vh;
    background-color: #252B42;
    color: #FFFFFF;
    padding: 80px 0;
}
#footer ul{
    list-style: none;
}


.footer-container{
    margin: auto;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col h3{
    margin-bottom: 25px;
    position: relative;
    text-transform: capitalize;
    font-size: 2.4rem;
}

.footer-col a{
    text-decoration: none;
    opacity: 0.8;
    color: #FFFFFF;
    padding-bottom: 10px;
    font-weight: 600;
}

.footer-col ul li a:hover{
    opacity: 1;
    padding-left: 10px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.midiasocial {
    color: #23A6F0;
    font-size: 2.3rem;
}

.midiasocial i{
    margin-right: 12px;
}

.copyright{
    display: flex;
    height: 73px;
    width: 100%;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.txt-copy{
    font-size: 1.4rem;
}

